<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>

    <!--Bootstrap Link-->
    <script src="https://kit.fontawesome.com/62dcaffcba.js" crossorigin="anonymous"></script>
    <!--Materialize CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body>
    <header>
        <!--Top Navbar-->
        <nav class="light-blue darken-1">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Task Manager</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('add_task') }}">New Task</a></li>
                    <li><a href="{{ url_for('categories') }}">Categories</a></li>
                </ul>
            </div>
        </nav>
        <!--Mobile Sidenav-->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('add_task') }}">New Task</a></li>
            <li><a href="{{ url_for('categories') }}">Categories</a></li>
        </ul>
    </header>

    <!--Main Content-->
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>


    <footer class="page-footer blue darken-3">
        <div class="footer-copyright">
            <div class="container">
                <p class="white-text center">For educational purposes only. &copy; <span id="copyright"></span> <a
                        class="white-text underline" href="https://github.com/ejasquith" target="_blank">EJAsquith</a></p>
            </div>
        </div>
    </footer>

    <!--jQuery Script-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!--Materialize Script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>